<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  
  
  <entries>
    <entry xmlns="http://www.w3.org/2005/Atom" xmlns:song="urn:rock:songs">
      <title>sdfs</title>
      <updated>2010-01-19T16:32:33Z</updated>
      <published>2010-01-18T16:35:39Z</published>
      <link href="http://localhost:3000/albums/1.xml" rel="album"/>
      <song:description>wefsf ddsf dfsd  </song:description>
    </entry>
  </entries>
  
</feed>
